<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10" >
      <mat-card>
          <img mat-card-image src="/assets/standard.jpg"/>
          <mat-card-header>
              <mat-card-title>Deluxe Room</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <p>
                 Cost:2k/day<br>
                 Num_of_Rooms:10
              </p>
          </mat-card-content>
          
      </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10" >
        <mat-card>
            <img mat-card-image src="/assets/2beds.jpg"/>
            <mat-card-header>
                <mat-card-title>Double BedRoom</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                  Cost:1k/day<br>
                  Num_of_Rooms:10
                </p>
            </mat-card-content>
            
        </mat-card>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10" >
          <mat-card>
              <img mat-card-image src="/assets/family1.jpg"/>
              <mat-card-header>
                  <mat-card-title>Family Room</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <p>
                     Cost:1k/day <br>
                     Num_of_Rooms:10
                  </p>
              </mat-card-content>
              
          </mat-card>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10" >
            <mat-card>
                <img mat-card-image src="/assets/1bed.jpg"/>
                <mat-card-header>
                    <mat-card-title>Single Room</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                       Cost:500/day <br>
                       Num_of_Rooms:10
                    </p>
                </mat-card-content>
                
            </mat-card>
            </div>
</div>
</div>