<div class="container">
    <div class="row">
      <div class="col" >
          <mat-card>
              <img mat-card-image src="/assets/spa.jfif"/>
              <mat-card-header>
                  <mat-card-title>Wellness @ Spa</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <p>
                    
                     Head-massage<br>
                   Body-massage<br>
                   Salon
                   For both M/F
                  </p>
              </mat-card-content>
              
          </mat-card>
          </div>
          <div class=" col-6" >
            <mat-card class="freethings">
                
                <mat-card-header class="matheader">
                    <mat-card-title>Free Services</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                       <mat-icon>wifi</mat-icon>
                       <span>Wifi</span> <br>
                       <mat-icon>hot_tub</mat-icon>
                       <span>Hot Tub</span> <br>
                       <mat-icon>dry_cleaning</mat-icon>
                       <span>Dry Cleaning</span> <br>
                       <mat-icon>local_laundry_service</mat-icon>
                       <span>Laundry Service</span> <br>
                       <mat-icon>room_service</mat-icon>
                       <span>Room Service</span> <br>
                       <mat-icon>local_parking</mat-icon>
                       <span>Parking</span> <br>
                       <mat-icon>tv</mat-icon>
                       <span>Tv</span> <br>
                       <span>AC Rooms</span>
                    </p>
                </mat-card-content>
                
            </mat-card>
            </div>
          <div class="col" >
            <mat-card>
                <img mat-card-image src="/assets/places.jfif"/>
                <mat-card-header>
                    <mat-card-title>Excursion & Activities</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                       City-Tour <br>
                       Bungee Jump<br>
                       Indoor-Sports<br>
                      
                       Adventure activities<br>
                    </p>
                </mat-card-content>
                
            </mat-card>
            </div>
          
              
    </div>
    </div>

