@import '~@angular/material/theming';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';



@include mat-core();
$thehotelproject-primary: (
    50 : #f6fbfb,
    100 : #e8f5f4,
    200 : #d9efed,
    300 : #c9e9e6,
    400 : #bee4e0,
    500 : #b2dfdb,
    600 : #abdbd7,
    700 : #a2d7d2,
    800 : #99d2cd,
    900 : #8acac4,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f6fffe,
    A700 : #dcfffc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$thehotelproject-accent: (
    50 : #fffefb,
    100 : #fffdf6,
    200 : #fffcf0,
    300 : #fffaea,
    400 : #fff9e6,
    500 : #fff8e1,
    600 : #fff7dd,
    700 : #fff6d9,
    800 : #fff5d5,
    900 : #fff3cd,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$thehotelproject-primary: mat-palette($mat-teal,200);
$thehotelproject-accent:  mat-palette($mat-teal, 50);


$thehotelproject-warn:    mat-palette($mat-red);


$thehotelproject-theme: mat-light-theme($thehotelproject-primary, $thehotelproject-accent, $thehotelproject-warn);


@include angular-material-theme($thehotelproject-theme);
.navtabs-container{
    background-color: mat-color($thehotelproject-accent);
    
}
.mat-tab-label-option:hover,
.mat-tab-label.mat-tab-label-content-focus,
.mat-list-option:hover,
.mat-list-option.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item.mat-list-item-focus{
    background-color: mat-color($thehotelproject-accent,50);
    color: mat-color($thehotelproject-primary,300);
}

