.book-now-container{
    padding: 55px 115px;
}
.hero-container{
 height:80vh;
 background: url(/assets/3.jfif) ;
   
}
.book-now-button{
    width:170px;
    background-color:mediumblue ;
    color:white;
    border:1px solid white;
    text-transform: uppercase;
}
.book-now-button:hover{
    background-color: lightskyblue;
}
@media all and (max-width: 768px){
    .hero-container{
        height: 100vh;
    }
}